body {
    margin: 0;
    padding: 0;
}

header {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a018b;
}

#title {
    color: #fff;
    font-family: "Montserrat Subrayada";
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

main {
    margin-left: 20%;
    margin-right: 20%;
}

footer {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a018b;
}

#copyright {
    color: #fff;

    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10%;
    margin-left: auto;
}